<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kmj_reco" >

    <permission android:name="com.example.kmj_reco.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.example.kmj_reco.permission.MAPS_RECEIVE" />
    <uses-permission android:name="READ_GSERVICES"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RECO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <uses-library android:name="com.google.android.maps"/>
        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity android:name=".InformationActivity" />
        <activity android:name=".Home" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".RegisterActivity"
            android:usesCleartextTraffic="true"/>

        <activity android:name=".ServiceCenterActivity"/>
        <activity android:name=".ServiceDetailActivity" />
        <activity android:name=".ServiceHistoryActivity" />

        <activity
            android:name=".CouponAdminDetail2Edit"
            android:exported="false" />
        <activity
            android:name=".CouponAdminDetail2Plus"
            android:exported="false" />
        <activity
            android:name=".CouponAdminDetailPlus"
            android:exported="false" />
        <activity
            android:name=".CouponHistoryDetail"
            android:exported="false" />
        <activity
            android:name=".CouponAdminDetail2"
            android:exported="false" />
        <activity
            android:name=".CouponAdminDetail"
            android:exported="false" />
        <activity
            android:name=".BuyFinish"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".BuyCoupon"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CouponHistory"
            android:exported="false" />
        <activity
            android:name=".Alert"
            android:exported="false" />
        <activity
            android:name=".CouponDetail"
            android:exported="false" />
        <activity
            android:name=".Coupon"
            android:exported="false" />
        <activity
            android:name=".CouponAdmin"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />

        <activity
            android:name=".QrActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CameraSuccess"/>

        <activity android:name=".Map" />
        <activity android:name=".RecobinDetail"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity android:name=".AddressDetail"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>

        <activity android:name=".QuizMain" />
        <activity
            android:name=".QuizFail"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".QuizSuccess"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".QuizAnswer" />

        <activity android:name=".Event" />
        <activity android:name=".Notice"/>
        <activity android:name=".NoticeDetail"/>

        <activity android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.kmj_reco"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnc6Nh7exlKrLGoembrNdHMccZ4hffgg8"/>
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>